// Synth Wrapper
#synth {
  width:90%; 
  position:relative; 
  border:2px solid #333; 
  margin: 5%;

  padding-bottom: 10px;
  // margin:0px; 
  // padding:0px; 

          transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);

  // Synth backdrop styles
  background-size: 5px 5px;
  background: hsl(200,5%,15%); 

  // background-repeat: repeat;

background-image: linear-gradient( 45deg, hsla(0,0%,0%,0) 0px, hsla(0,0%,0%,.10) 50%, hsla(0,0%,0%,0) 100% );
  
          box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
     -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000; 
  
          border-radius:5px; 
     -moz-border-radius:5px; 
  -webkit-border-radius:5px; 
}